.header a {
    text-decoration: none;
    margin-right: 15px;
    padding: 2px 5px;
}

.header a:hover {
    background-color: lightblue;
}

.activee {
    background-color: rgb(148, 255, 127);
}

.active {
    background-color: aquamarine;
}